@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url("assets/pink.jpeg");
}

.background{
    background-color: rgb(250, 0, 104);
    margin: 100px;
    padding: 10px;
}
.jumbotron{
    margin: 100px;
    background-color: rgb(248, 169, 196);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* padding:  */
}
h1{
    font: bold;
}